<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

      <!-- Level Column -->
      <ng-container matColumnDef="Level">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Level</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.Level}}</mat-cell>
      </ng-container>

      <!-- Location Column -->
      <ng-container matColumnDef="Location">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.Location}}</mat-cell>
      </ng-container>

      <!-- ResultType Column -->
      <ng-container matColumnDef="ResultType">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Staus</mat-header-cell>
        <mat-cell *matCellDef="let row">
          
          {{row.ResultType}}</mat-cell>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="Category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.Category}}</mat-cell>
      </ng-container>

      <!-- ResultSignature Column -->
      <ng-container matColumnDef="ResultSignature">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ResultSignature</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.ResultSignature}}</mat-cell>
      </ng-container>

      <!-- Time Column -->
      <ng-container matColumnDef="Time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.Time}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50, 100, 250]">
    </mat-paginator>
  </div>
</div>